*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #0056b3;
    text-decoration: underline; }

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit;
  text-align: -webkit-match-parent; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

[role="button"] {
  cursor: pointer; }

select {
  word-wrap: normal; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal; }

:root {
  --swiper-theme-color: #007aff; }

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap; }

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column; }

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-container-pointer-events {
  touch-action: pan-y; }
  .swiper-container-pointer-events.swiper-container-vertical {
    touch-action: pan-x; }

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

.swiper-slide-invisible-blank {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform; }

/* 3D Effects */
.swiper-container-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px; }
  .swiper-container-3d .swiper-wrapper,
  .swiper-container-3d .swiper-slide,
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom,
  .swiper-container-3d .swiper-cube-shadow {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10; }
  .swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */ }
  .swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none; }

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start; }

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory; }

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory; }

.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
  background: linear-gradient(180deg, #cfeff5 0%, #00a8cc 99.99%);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .preloader.show {
    opacity: 1; }
  .preloader.hide {
    transition: .3s all ease-in;
    left: -100%;
    opacity: 0; }
  .preloader .lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px; }
  .preloader .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    -webkit-animation: lds-grid 1.2s linear infinite;
            animation: lds-grid 1.2s linear infinite; }
  .preloader .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .preloader .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .preloader .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .preloader .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .preloader .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .preloader .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s; }
  .preloader .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .preloader .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s; }
  .preloader .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    -webkit-animation-delay: -1.6s;
            animation-delay: -1.6s; }

@-webkit-keyframes lds-grid {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: 0.5; } }

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: 0.5; } }

@font-face {
  font-family: 'SofiaProBlack';
  src: url("../fonts/SofiaProBlack.woff") format("woff"), url("../fonts/SofiaProBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'SofiaProBold';
  src: url("../fonts/SofiaProBold.woff") format("woff"), url("../fonts/SofiaProBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'SofiaProRegular';
  src: url("../fonts/SofiaProRegular.woff") format("woff"), url("../fonts/SofiaProRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'SofiaProSemiBold';
  src: url("../fonts/SofiaProSemiBold.woff") format("woff"), url("../fonts/SofiaProSemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

.outter__container {
  max-width: 1440px;
  margin: 0 auto; }

.wrapper {
  background: linear-gradient(180deg, #cfeff5 0%, rgba(0, 168, 204, 0.05) 99.99%); }

.container {
  max-width: 1051px;
  margin: 0 auto; }

body {
  font-family: 'SofiaProRegular';
  font-weight: 400;
  font-size: 14px; }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.burger {
  position: absolute;
  width: 30px;
  height: 20px;
  z-index: 10000;
  cursor: pointer; }
  .burger span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: 0.3s all ease-in; }
  .burger:after, .burger:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: 0.3s all ease-in; }
  .burger:after {
    top: 7px; }
  .burger:before {
    bottom: 4px; }
  .burger.show span {
    opacity: 0; }
  .burger.show:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px; }
  .burger.show:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px; }
  .burger.hide span {
    opacity: 1; }
    .burger.hide span:after {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      top: 0; }
    .burger.hide span:before {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      bottom: 0; }

.button {
  background: #009d98;
  box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.25);
  border-radius: 4px;
  font-family: 'SofiaProSemiBold';
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer; }
  .button:hover {
    text-decoration: none;
    color: inherit; }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.7s all ease-in;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100; }
  .overlay.show {
    visibility: visible;
    opacity: .7; }
  .overlay.hide {
    visibility: hidden;
    opacity: 0; }

.menu {
  transition: 0.2s all ease-in;
  left: -100%;
  z-index: 100000; }
  .menu__list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none; }
  .menu__item {
    padding: 0;
    margin: 0;
    margin-right: 30px; }
    .menu__item:last-child {
      margin-right: 0; }
  .menu__link {
    font-family: 'SofiaProRegular';
    font-weight: 400;
    font-size: 16px;
    color: #000; }
    .menu__link:hover {
      text-decoration: none;
      color: #000;
      opacity: 0.6; }
  .menu.show {
    left: 0; }
  .menu.hide {
    left: -100%; }

.title {
  margin: 0;
  font-family: 'SofiaProBold';
  font-weight: 700; }
  .title--fz75 {
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    font-weight: 900;
    line-height: 85px;
    letter-spacing: 0.05em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #083c4c; }
  .title--fz40 {
    font-family: 'SofiaProBlack';
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    color: #009d98; }

.cloud {
  display: block;
  position: absolute; }

@media (max-width: 769px) {
  .cloud {
    display: none; } }

.header {
  min-height: 731px;
  background: linear-gradient(180deg, #cfeff5 0%, rgba(0, 168, 204, 0.05) 99.99%), url("../img/header/bg.jpg") no-repeat bottom; }
  .header .outter__container {
    position: relative; }
  .header__top {
    position: relative;
    z-index: 100;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    display: flex;
    align-items: center; }
    .header__logo span {
      margin-left: 5px;
      font-family: 'SofiaProSemiBold';
      font-weight: 600;
      font-size: 30px; }
  .header__promo {
    padding-top: 150px; }
  .header__cloud1 {
    right: 0;
    top: 0; }
  .header__cloud2 {
    right: 0;
    top: 0; }
  .header__cloud--one {
    top: 127px;
    right: 63px; }
  .header__cloud--two {
    top: 314px;
    right: 234px; }
  .header__cloud--three {
    top: 172px;
    left: 457px; }
  .header__burger {
    display: none;
    top: 20px;
    right: 20px; }
  .header__title {
    max-width: 500px; }

@media (max-width: 1150px) {
  .header .container {
    padding: 0 20px; } }

@media (max-width: 769px) {
  .header__menu {
    margin: 0;
    padding-top: 40px;
    padding-left: 40px;
    top: 0;
    right: 0;
    position: fixed;
    width: 50vw;
    height: 100vh;
    background-color: rgba(186, 232, 241, 0.8); }
  .header__list {
    flex-direction: column;
    align-items: flex-start; }
  .header__item {
    margin-right: 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #000; }
  .header__link {
    font-size: 25px; }
  .header__burger {
    display: block; }
  .header__promo {
    padding-top: 15px; }
  .header__title {
    font-size: 55px; } }

@media (max-width: 570px) {
  .header__title {
    font-size: 40px; }
  .header__menu {
    width: 70vw; }
  .header__link {
    font-size: 15px; } }

.learn {
  padding-bottom: 200px;
  background: linear-gradient(360deg, #cfeff5 0%, rgba(0, 168, 204, 0.05) 99.99%); }
  .learn .container {
    position: relative; }
  .learn .outter__container {
    background: no-repeat url("../ico/learn/triangles.svg") 97% 20%, no-repeat url("../img/learn/cloud.svg") 0 90%; }
  .learn__travel {
    position: absolute;
    right: -140px;
    background: #ffffff;
    box-shadow: 0px 20px 100px rgba(24, 129, 130, 0.1);
    border-radius: 50px 5px;
    width: 897px;
    min-height: 152px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    z-index: 5; }
  .learn__where {
    margin-right: 20px;
    height: 50px;
    flex: 1 1 25%; }
    .learn__where input {
      display: block;
      padding: 20px 14px;
      padding-right: 40px;
      width: 100%;
      height: 100%;
      background: #ffffff;
      border: 1px solid #e3e3e3;
      box-sizing: border-box;
      border-radius: 4px;
      background: url("../ico/learn/geo.svg") no-repeat;
      background-position: right 14px bottom 50%;
      font-family: 'SofiaProRegular';
      font-weight: 400;
      font-size: 16px; }
  .learn__then {
    height: 50px;
    margin-right: 20px;
    flex: 1 1 25%; }
    .learn__then input {
      display: block;
      padding: 20px 14px;
      padding-right: 40px;
      width: 100%;
      height: 100%;
      background: #ffffff;
      border: 1px solid #e3e3e3;
      box-sizing: border-box;
      border-radius: 4px;
      background: url("../ico/learn/calendar.svg") no-repeat;
      background-position: right 14px bottom 50%;
      font-family: 'SofiaProRegular';
      font-weight: 400;
      font-size: 16px; }
  .learn__type {
    height: 50px;
    margin-right: 20px;
    flex: 1 1 25%; }
    .learn__type input {
      display: block;
      padding: 20px 14px;
      padding-right: 40px;
      width: 100%;
      height: 100%;
      background: #ffffff;
      border: 1px solid #e3e3e3;
      box-sizing: border-box;
      border-radius: 4px;
      background: url("../ico/learn/passenger.svg") no-repeat;
      background-position: right 14px bottom 50%;
      font-family: 'SofiaProRegular';
      font-weight: 400;
      font-size: 16px; }
  .learn .learn__button--form {
    padding: 12px 20px; }
  .learn__dots {
    position: absolute;
    top: 77px;
    left: 260px;
    z-index: 1; }
    .learn__dots img {
      display: block; }
  .learn__dots--small {
    position: absolute;
    top: 233px;
    left: -28px;
    z-index: -1;
    display: block; }
  .learn__about {
    position: relative;
    padding-top: 260px;
    display: flex;
    margin-bottom: 135px;
    align-items: center; }
  .learn__circles {
    position: absolute;
    top: 380px;
    left: -138px;
    z-index: -1;
    display: block; }
  .learn__square {
    position: absolute;
    top: 764px;
    left: 401px;
    z-index: -1;
    display: block; }
  .learn__photo {
    flex: 0 1 450px;
    overflow: hidden;
    height: 550px;
    margin-right: 122px;
    border-radius: 10px; }
    .learn__photo img {
      display: block;
      min-width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .learn__tr {
    flex: 0 1 400px; }
  .learn__title {
    margin-bottom: 20px; }
  .learn__description {
    font-family: 'SofiaProRegular';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #7a7a7a;
    margin-bottom: 40px; }
  .learn__button {
    padding: 10px 19px; }
  .learn__curated {
    display: flex;
    justify-content: space-between;
    min-height: 95px;
    align-items: center; }
  .learn__subtitle {
    display: flex;
    flex-direction: column;
    font-family: 'SofiaProBold';
    font-weight: 700;
    font-size: 40px;
    color: #130f40;
    margin-bottom: 0; }
    .learn__subtitle span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #000000; }
  .learn__more {
    padding: 15px 20px; }
  .learn__inner {
    margin-top: 60px; }
  .learn__card {
    max-width: 420px; }
  .learn__photoc {
    min-width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px; }
    .learn__photoc img {
      min-width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .learn__place {
    display: flex;
    justify-content: space-between;
    padding: 0 20px; }
  .learn__location {
    display: flex;
    flex-direction: column;
    font-family: 'SofiaProBold';
    font-weight: 700;
    font-size: 36px;
    padding: 0 20px;
    color: #130f40; }
    .learn__location span {
      font-family: 'SofiaProRegular';
      font-weight: 400;
      font-size: 16px;
      color: #7a7a7a; }
  .learn__starrating {
    margin-top: 18px; }
  .learn__footer {
    display: flex;
    align-items: center;
    min-height: 26px;
    padding-right: 20px;
    padding-left: 39px;
    margin-top: 15px; }
  .learn__persons {
    margin-right: 30px;
    font-size: 16px;
    color: #009d98;
    display: flex;
    align-items: center; }
    .learn__persons span {
      margin-top: 2px;
      display: block;
      margin-left: 10px; }
  .learn__date {
    margin-right: auto;
    font-size: 16px;
    color: #009d98;
    display: flex;
    align-items: center;
    height: 100%; }
    .learn__date span {
      margin-top: 2px;
      display: block;
      margin-left: 17px; }
  .learn__price {
    font-family: 'SofiaProBold';
    font-weight: 700;
    font-size: 24px;
    color: #009d98; }

@media (max-width: 1500px) {
  .learn__travel {
    margin: 0;
    position: static;
    min-width: 100%; }
  .learn__dots {
    display: none; }
  .learn__circles {
    display: none; }
  .learn__about {
    padding-top: 50px;
    margin-bottom: 50px; }
  .learn__square {
    display: none; }
  .learn .outter__container {
    background: none; }
  .learn__dots--small {
    display: none; } }

@media (max-width: 1150px) {
  .learn {
    padding-top: 50px; }
    .learn .container {
      padding: 0 20px; }
    .learn__tr {
      margin-top: 10px; }
    .learn__travel {
      display: block;
      padding: 30px 20px;
      width: 100%; }
    .learn__where {
      min-width: 100%;
      margin-right: 0;
      flex: none;
      margin-bottom: 10px; }
    .learn__then {
      min-width: 100%;
      margin-right: 0;
      flex: none;
      margin-bottom: 10px; }
    .learn__type {
      min-width: 100%;
      margin-right: 0;
      flex: none;
      margin-bottom: 10px; }
    .learn__about {
      display: block;
      text-align: center; }
    .learn__photo {
      width: 300px;
      margin: 0 auto; }
    .learn__description {
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 50px; } }

@media (max-width: 769px) {
  .learn__card {
    max-width: 300px; }
  .learn__photoc {
    margin-bottom: 0px; }
  .learn__place {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .learn__location {
    font-size: 25px;
    text-align: center;
    justify-content: space-between;
    flex-direction: row; }
    .learn__location span {
      margin-left: 5px;
      font-size: 12px;
      display: flex;
      align-items: center; }
  .learn__footer {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 0;
    padding: 0; }
  .learn__price {
    font-size: 15px;
    min-width: 100%;
    text-align: center; }
  .learn__curated {
    flex-direction: column;
    text-align: center; }
  .learn__more {
    margin-top: 10px; }
  .learn__date {
    margin-right: 0;
    margin-top: 0; }
    .learn__date span {
      margin-left: 2px; }
  .learn__persons {
    margin-right: 20px; }
  .learn__starrating {
    margin-top: 5px; } }

.deals {
  padding: 100px 0; }
  .deals__heading {
    display: flex;
    justify-content: space-between; }
  .deals__title {
    font-size: 40px;
    color: #130f40; }
  .deals__button {
    padding: 11px 20px; }
  .deals__inner {
    margin-top: 50px; }
  .deals__card {
    max-width: 300px; }
  .deals__photo {
    overflow: hidden;
    border-radius: 8px; }
    .deals__photo img {
      width: 100%;
      min-height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .deals__time {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 60px; }
    .deals__time time {
      margin-left: 22px;
      font-size: 24px;
      color: #7a7a7a; }
  .deals__discovery {
    font-family: 'SofiaProBold';
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    padding-right: 60px;
    padding-left: 30px; }
  .deals__persons {
    padding-right: 60px;
    padding-left: 30px;
    margin-top: 20px;
    font-size: 16px;
    color: #7a7a7a; }
  .deals__price {
    margin-top: 30px;
    padding-left: 30px;
    font-family: 'SofiaProBold';
    font-weight: 700;
    font-size: 36px;
    color: #009d98; }

@media (max-width: 1150px) {
  .deals .container {
    padding: 0 20px; } }

@media (max-width: 769px) {
  .deals__heading {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .deals__button {
    margin-top: 10px; } }

.feel {
  background: no-repeat url("../img/feel/bg.jpg") top left/cover;
  padding: 100px 0; }
  .feel label {
    font-size: 16px;
    color: #ffffff; }
  .feel input {
    height: 100%;
    outline: none;
    border: none;
    padding-left: 10px; }
  .feel__inner {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: minmax(auto, 412px) minmax(auto, 450px); }
  .feel__left address {
    font-size: 16px;
    line-height: 80px;
    color: #ffffff; }
  .feel__title {
    font-family: 'SofiaProBold';
    font-weight: 700;
    font-size: 40px;
    color: #ffffff; }
  .feel__form {
    display: grid;
    grid-template-rows: repeat(3, 70px) 146px 70px;
    row-gap: 20px; }
  .feel__name {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%; }
    .feel__name input {
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0px 10px 50px rgba(19, 15, 64, 0.1);
      border-radius: 4px; }
  .feel__email {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%; }
    .feel__email input {
      border-radius: 4px; }
  .feel__subject {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%; }
    .feel__subject input {
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0px 10px 50px rgba(19, 15, 64, 0.1);
      border-radius: 4px; }
  .feel__message {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%; }
    .feel__message textarea {
      resize: none;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0px 10px 50px rgba(19, 15, 64, 0.1);
      border-radius: 4px;
      border: none;
      padding-left: 10px;
      outline: none; }
  .feel__button {
    padding: 10px 50px; }

@media (max-width: 1251px) {
  .feel .container {
    padding: 0 20px; } }

@media (max-width: 769px) {
  .feel__inner {
    grid-template-columns: auto;
    grid-template-rows: auto; }
  .feel__left {
    text-align: center; }
    .feel__left address {
      margin-top: 10px;
      line-height: 1; } }

.footer {
  min-height: 1168px;
  padding-top: 163px;
  background: no-repeat url("../img/footer/bg.svg") bottom center; }
  .footer__partners {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__inner {
    margin-top: 625px;
    display: flex;
    justify-content: space-between; }
  .footer__item {
    display: flex;
    flex-direction: column; }
  .footer__title {
    font-family: 'SofiaProBold';
    font-weight: 700;
    font-size: 24px;
    color: #ffffff; }
  .footer__phone {
    margin-top: 30px;
    font-size: 16px;
    color: #ffffff; }
  .footer__email {
    margin-top: 15px;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff; }
  .footer__socials {
    margin-top: 30px;
    display: flex;
    max-height: 20px; }
  .footer__social {
    display: block;
    width: 20px;
    min-height: 100%;
    margin-right: 10px; }
    .footer__social svg {
      width: 100%;
      height: 100%;
      fill: #fff; }
  .footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .footer__li {
    padding: 0;
    margin: 0;
    margin-top: 15px; }
    .footer__li:first-child {
      margin-top: 30px; }
  .footer__link {
    font-size: 16px;
    color: #ffffff; }
  .footer__pay {
    margin-top: 30px;
    font-size: 16px;
    color: #ffffff;
    max-width: 330px; }
  .footer hr {
    margin-top: 50px; }
  .footer__copyright {
    text-align: center;
    font-size: 16px;
    color: #ffffff; }

@media (max-width: 1150px) {
  .footer .container {
    margin: 0 20px; } }

@media (max-width: 769px) {
  .footer {
    padding-top: 50px;
    min-height: 500px; }
    .footer__partners {
      max-width: 500px;
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: center; }
    .footer__partner {
      margin-top: 20px;
      margin-right: 10px; }
    .footer__inner {
      margin-top: 50px;
      flex-direction: column; }
    .footer hr {
      margin-top: 30px; }
    .footer__phone {
      margin-top: 10px; }
    .footer__li {
      margin-top: 10px; }
      .footer__li:first-child {
        margin-top: 10px; }
    .footer__pay {
      margin-top: 10px; }
    .footer__socials {
      margin-top: 10px; } }
